.elementList {
  margin-top: 16px;
  margin-right: 9px;
}

.elementList:nth-child(1) {
  margin-top: 6px;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}