.container {
  display: flex;
  justify-content: center;
  margin: 116px 0 0 -360px;
}

.links > p {
  cursor: pointer;
}

.form {
  width: 485px;
  margin-left: 160px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

/* .form :nth-child(1) {
  width: 100%;
} */

.text {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8585ad;
  width: 320px;
  margin: 0;
}

.string {
  margin: 0;
  color: #8585ad;
  margin-top: 96px;
}

.buttonContainer {
  position: absolute;
  bottom: -80px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  gap: 28px;
}

.buttonContainer :nth-child(1) {
  margin: 0;
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 3px 0 0 230px;
  color: #4c4cff;
  cursor: pointer;
}

.list {
  text-decoration: none;
}

@media only screen and (max-width: 1350px) {
  .container {
    margin: 116px 0 0 -20%;
  }
  .form {
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1060px) {
  .title {
    display: none;
  }
}
@media only screen and (max-width: 1060px) {
  .links {
    display: none;
  }
  .form {
    margin: 0;
  }
  .container {
    flex-direction: column;
    align-items: center;
    margin: 16px 0 0;
  }
  .buttonContainer {
    margin: 0;
    position: static;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  .buttonContainer p {
    text-align: center;
    color: #4c4cff;
    order: 2;
  }
  .buttonContainer :nth-child(1) {
    margin: 0;
  }
}

@media only screen and (max-width: 620px) {
  /* .container{
    width: 304px;
  } */
  /* .container {
   width: 304px;
  } */
  .nameInput{
    width: 200px;
  }
}
