.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  margin-top: -40px;
}

.number {
  align-self: start;
}

.name {
  margin-top: 40px;
  align-self: start;
}

.done {
  margin: 11px 0 60px;
  min-width: 640px;
  color: #00cccc;
}

.process {
  margin: 11px 0 10px 66px;
  min-width: 640px;
}

.contain {
  margin: 0 0 5px 3px;
  min-width: 640px;
}

.ingredients {
  max-width: 320px;
  margin-left: 16px;
}

.list {
  display: flex;
  align-items: center;
  margin-top: 16px;
  position: relative;
}

.total {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredient {
  width: 62px;
  height: 62px;
  border: double 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(#131316, #131316),
    linear-gradient(to top right, #801ab2, #4c4cff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: cover;
  width: 90%;
  height: 90%;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.scroll {
  margin: 2px 0 0 6px;
  padding-right: 24px;
  box-sizing: border-box;
  position: relative;
  max-height: 312px;
  width: 640px;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  height: 50%;
  border-radius: 30px;
}

.bottom {
  position: relative;
  display: flex;
  min-width: 640px;
  margin-top: 40px;
}

.title {
  margin: 0;
}

.bottomMobile,
.headerModalMobile {
  display: none;
}

@media only screen and (max-width: 1060px) {
  .container {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: normal;
    background-color: #131316;
    padding: 0;
    justify-content: center;
    padding: 0 18px;
  }
  .number {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .name {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
  }
  .done {
    margin: 0 0 24px 0;
    min-width: 640px;
  }

  .total {
    position: initial;
    display: flex;
    gap: 8px;
    margin-left: auto;
  }

  .headerModalMobile {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    justify-content: space-between;
  }
  .scroll {
    max-height: 53vh;
    padding: 0;
    margin: 8px 0;
    width: auto;
  }
  .scroll h2 {
    margin: 0;
  }
  .scroll::-webkit-scrollbar {
    width: 0;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .bottom {
    display: none;
  }
  .bottomMobile {
    width: 100%;
    display: flex;
    margin-top: auto;
    padding: 8px 18px;
    background-color: #1c1c21;
    align-self: normal;
    align-items: center;
    margin-left: -18px;
  }

  .bottomMobile > p {
    font-size: 14px;
  }
  .total > p {
    font-size: 22px;
  }
  .title {
    font-size: 28px;
  }
  .ingredient {
    width: 32px;
    height: 32px;
  }
  .list {
    margin: 0;
    padding: 8px 0;
  }
  .list > p {
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 660px) {
  .container {
    padding: 0 8px;
  }
}

@media only screen and (max-width: 490px) {
  .list > p {
    max-width: 144px;
  }
}
