.scrollContainer {
  position: relative;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  /* position: absolute;
  left: -81px;
  top: -61px; */
}

.title h2 {
  margin: 0;
}

.scroll {
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  height: 50%;
  border-radius: 30px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.cardsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 8px;
}

@media only screen and (max-width: 1060px) {
  .title {
    display: none;
  }
  .scroll {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    max-height: 90vh;
    margin: 8px 0;
  }
  .scroll::-webkit-scrollbar {
    width: 0.1em;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .cardsList {
    margin: 0;
  }
}
