.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px 0 0 10px;
}

.registrationContainer {
  display: flex;
  align-items: center;
  margin-top: 82px;
}

.link {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 5px;
}

.text {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8585ad;
  margin: 0;
  margin-left: 5px;
}

.link {
  text-decoration: none;
  color: #4c4cff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 490px;
  gap: 25px;
}

@media only screen and (max-width: 1060px) {
  .container {
    margin: 16px 0 0;
  }
  .title {
    margin-bottom: 24px;
    max-width: 300px;
    text-align: center;
  }
  .form {
    gap: 20px;
  }
  .registrationContainer {
    margin-top: 40px;
    flex-direction: column;
  }
  .text {
    margin: 0;
  }
  .link {
    margin: 0;
  }
  .button {
    padding: 10px 32px;
  }
}

@media only screen and (max-width: 660px) {
  .form div label {
    top: 4px;
  }
  .form {
    width: auto;
  }
  .form div {
    max-width: 304px;
  }
}
