.header {
  margin-bottom: 40px;
  width: 100%;
  min-height: 88px;
  background-color: #1c1c21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component {
  display: flex;
  align-items: center;
}

.text {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 9px;
}

.text_type_profile {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8585ad;
  margin-left: 7px;
}

.text_type_secondary {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8585ad;
  margin-left: 9px;
}

.constructor {
  display: flex;
  align-items: center;
  margin-right: 48px;
  margin-left: 13px;
}

.list {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.logo{
  margin-right: 309px ;
  margin-left: 130px;
}
