.HomePage {
  background-color: #131316;
  display: flex;
  color: white;
  max-width: 1253px;
  margin: 0 auto;
  height: 100%;
}

.title {
  max-width: 1225px;
  margin: 40px auto 19px;
}

.text {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}