.HomePage {
  background-color: #131316;
  display: flex;
  color: white;
  max-width: 1253px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.title {
  max-width: 1225px;
  margin: 40px auto 19px;
}

.text {
  font-family: "JetBrainsMono", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 1060px) {
  /* .page{
    display: flex;
    flex-direction: column;

  } */
  .title {
    text-align: center;
    margin: 16px 0 8px;
  }
  .HomePage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 660px) {
  .title h1 {
    font-size: 28px;
    margin-bottom: -5px;
  }
}
